.meals__filter {
	box-sizing: border-box;
	display: block;
	float: left;
	background-color: #cad2c5;
	width: 24.16667%;
	padding: rem(15px) rem(20px);
	margin-left: 0;
	margin-right: 0.833333%;
	height: 35rem;
}

.filter-section {
	color: #354f52;
	font-size: 0.875rem;
	padding: 0;
	padding-bottom: rem(15px);
	border-bottom: 1px solid #cad2c5;
	margin-bottom: rem(15px);
}

.filter-section h3 {
	margin: 0;
	font-size: 1.3125rem;
	color: #52796f;
	margin-bottom: 0.5rem;
}

.filter-section select {
	font: inherit;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border-radius: 6px;
	color: #354f52;
	background-color: #f1faee;
	margin-bottom: 1rem;
}

.filter-section button {
	text-align: left;
	line-height: normal;
	position: relative;
	display: block;
	width: 50%;
	padding: rem(5px) rem(25px) rem(5px) rem(5px);
	border-radius: rem(3px);
	margin-bottom: rem(5px);
	cursor: pointer;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	background-color: transparent;
	border: none;
	color: #2f3e46;
}

.filter-section button:active {
	background-color: #2f3e46;
	color: #f1faee;
}

.filter-section button:hover {
	background-color: #84a98c;
	color: #f1faee;
}
