.cart-items {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 23rem;
	overflow: auto;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.actions {
	text-align: right;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #52796f;
	padding: 0.5rem 1.5rem;
	border-radius: 20px;
	margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
	background-color: #354f52;
	border-color: #354f52;
	color: #f1faee;
}

.actions .button--alt {
	color: #354f52;
}

.actions .button {
	background-color: #52796f;
	color: #f1faee;
}
