.form {
	text-align: right;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #e63946;
	border: 1px solid #e63946;
	color: white;
	padding: 0.25rem 1rem;
	border-radius: 20px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #ca0e1e;
	border-color: #ca0e1e;
}

.form input {
	color: #2f3e46;
}
